---
---

@import "{{ site.theme }}";

.flex-container {
    display: flex;
};

.flex-child {
    flex: 9;
}; 

.flex-child:first-child {
    flex: 1;
    margin-right: 10px;
    width: 76px;
}; 

.logo {
    display: inline;
    width: 74px;
    height: 100px;
};