---
---

@import "{{ site.theme }}";

.flex-container {
    display: flex;
};

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}; 

.flex-child:first-child {
    margin-right: 20px;
}; 

.logo {
    display: inline;
    width: 74px;
    height: 100px;
};